In [1]:
import yfinance as yf
import pandas as pd

In [2]:
def get_stock_data(stock_ticker, start_date="2024-01-01", end_date="2024-10-31"):
    # Download historical stock data
    data = yf.download(stock_ticker, start=start_date, end=end_date)

    # Check if data is fetched successfully
    if data.empty:
        print(f"No data found for {stock_ticker}. Please check the ticker and try again.")
        return None
    
    # Rename columns to match requested fields
    data.rename(columns={
        'Adj Close': 'Adj Close', 'Open': 'Open', 'High': 'High',
        'Low': 'Low', 'Close': 'Close', 'Volume': 'Volume'
    }, inplace=True)

    # Reset index to have Date as a column
    data.reset_index(inplace=True)
    return data

In [3]:
# Take stock ticker input
stock_name = input("Enter the stock ticker (e.g.,  for Reliance on NSE): ")

Enter the stock ticker (e.g.,  for Reliance on NSE):  RPPINFRA.NS

In [4]:
# Get data
stock_data = get_stock_data(stock_name)

# Display data if available
if stock_data is not None:
    display(stock_data.head())  # Display first few rows in Jupyter Notebook format
    print(f"\nData for {stock_name} has been fetched successfully.")

[*********************100%***********************]  1 of 1 completed

Price,Date,Adj Close,Close,High,Low,Open,Volume
Ticker,,RPPINFRA.NS,RPPINFRA.NS,RPPINFRA.NS,RPPINFRA.NS,RPPINFRA.NS,RPPINFRA.NS
0,2024-01-01 00:00:00+00:00,121.949997,121.949997,121.949997,117.500000,118.900002,306028
1,2024-01-02 00:00:00+00:00,128.000000,128.000000,128.000000,128.000000,128.000000,130125
2,2024-01-03 00:00:00+00:00,134.399994,134.399994,134.399994,134.399994,134.399994,72849
3,2024-01-04 00:00:00+00:00,132.100006,132.100006,135.149994,131.750000,132.100006,198213
4,2024-01-05 00:00:00+00:00,129.449997,129.449997,129.500000,129.449997,129.449997,164016

Data for RPPINFRA.NS has been fetched successfully.

In [5]:
# Save data to CSV file if data is available
if stock_data is not None:
    file_name = f"{stock_name}.csv"
    stock_data.to_csv(file_name, index=False)
    print(f"\nData for {stock_name} has been saved to {file_name} successfully.")

Data for RPPINFRA.NS has been saved to RPPINFRA.NS.csv successfully.